:root {
    --bg-green: #2c675f;
    --bg-off-white: #f5f5f3;
    --bg-dark-gray:#1e1e1e;
    --font-white:#ffffff;
    --font-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-caps: petite-caps;
}
li {
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
.hero-section {
    height: 138vh;
    /* background-color:var(--bg-green); */
    position: relative;
}

.service-section {
    height: 277vh;
    position: relative;
}
.gallery-section {
    height: 200vh;
    position: relative;
}
.info-section {
    height: 100vh;
    position: relative;
    background-color: var(--bg-dark-gray);
    color: var(--font-white);
}
.sc-section {
    height: 100vh;
    position: relative;
    background-color: var(--bg-dark-gray);
    color: var(--font-white);
}
.btn {
    margin-left: 16%;
}
button a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    border: 2px solid var(--bg-dark-gray);
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  button a {
    position: relative;
    z-index: 2;
    color: var(--font-black);
  }
  
  button :after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--bg-green);
    background: rgba(43, 44, 43, 0.2);
    color: var(--font-black);
    transition: all .35s;
  }
  
  button a:hover{
    color: var(--font-black);
  }
  
  button a:hover:after{
    width: 100%;
  }

/* ---  NAVBAR  --- */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: var(--bg-dark-gray);
}

.nav-items ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-decoration: none;
}
.nav-items li {
    text-decoration: none;
    list-style: none;   
}
.nav-items a {
    text-decoration: none;
    color: var(--font-white);
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--font-white);
    color: var(--bg-off-white);
    /* letter-spacing: 0.2rem; */
   
}
#current {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--font-white);
    color: var(--bg-off-white);
}
.logo-div {
    cursor: pointer;
    color: var(--font-white);
}
#show-menu {
    font-size: 2rem;
    font-weight: 500;
    color: var(--font-white);
}

/* --- DROPDOWN MENU -- */
@keyframes show {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
.dropdown {
    width: 100%;
    height: 40vh;
    color: black;
    z-index: 3;
    top: 1%;
    position: absolute;
    backdrop-filter: blur(6px);
    background: rgba(74, 76, 77, 0.378);
    animation: show 0.2s linear;
}
.dropdown li {
    margin: 5%;
    padding: 3%;
    color: var(--font-white);
    background: rgba(3, 3, 3, 0.378);
}
.dropdown a {
    color: var(--font-white);
}
.close-div {
    display: flex;
    justify-content: space-between;
}
.drop-logo  {
margin: 10%;
font-size: 1.2rem;
}
.hidden {
    display: none;
}


/* ---  MAIN CONTAINERS  --- */
.main-div {
    display: flex;
    justify-content: center;
    position: relative;
}
.container-1 {
    height: 150vh;
    width: 100%;
    background-color: var(--bg-off-white);
    position: relative;
}
.container-2 {
    height: 150vh;
    width: 100%;
    background-color: var(--bg-off-white);
    /* background: rgba(34, 69, 33, 0.8); */
    position: relative;
}
.hero-div {
    display: flex;
    justify-content: center;
    margin: 15%;
}
.hero-img {
    width: 25%;
    background-repeat: no-repeat;
    position: fixed;
}
.hero-parallax {
    font-size: 7rem;
    position: absolute;
    top: 15%;
    letter-spacing: 10px;
}
/* after scroll trigger positirelative and width 80% */

.content {
    display: flow;
    margin: 5%;
    color: var(--font-black);
}
.content h1 {
    margin: 5%;
    margin-top: 20%;
}
.content h2 {
    margin: 5%;
    font-size: 2rem;
}
.content p {
    margin: 15%;
    font-size: 1.5rem;
}
.content a {
    text-decoration: none;
}
/* --- SERVICE --- */
.main-div-2 {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.service-container-1 {
    height: 138vh;
    width: 100%;
    background-color: var(--bg-off-white);
    position: relative;
    overflow: scroll;
    scrollbar-color: var(--bg-green);
}
.service-container-2 {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-off-white);
    position: relative;
}
.service-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* position: fixed; */
}
.services {
    display:inline;
    text-align: center;
    justify-content: center;
    margin: 10%;
}
.services h1 {
    margin: 10%;
}
.services p {
    margin: 5%;
    font-size: 1.5rem;
}
.services li {
    text-decoration: none;
    list-style: none; 
    color: var(--bg-dark-gray);  
}
.services a {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--bg-dark-gray);
    color: var(--font-black);
    
}
.services a:hover {
    letter-spacing: 0.2rem; 
}

/*  ---- FOOTER ----- */

footer{
    width: 100%;
    height: 40vh;
    position: absolute;
    background-color: var(--bg-dark-gray);
    color: var(--font-white);
}

.footer-container{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.footer-wrap {
    margin: 3%;
}
.footer__items {
    justify-content: center;

}
.footer__items h1, h2, p {
    margin: 10px;
}
.input-div , label {
    margin: 10px;
}
.input-div label {
    margin: 10px;
}
.social-media li{
    margin-bottom: 20px;
}
.social-media a{
    color: #acaaad;
    margin-bottom: 20px;
}
.footer__items ul {
    display: flex;
    gap: 20px;
}
.social-media{
    margin-top:15%;
}


/* .footer__container {
    background-color: var(--bg-dark-gray);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    
}
.footer__links h2{
    margin-bottom: 16px;
color: var(--bg-off-white);
} 

.footer__link-wrap{
    display: flex;

}
.footer__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}
.footer__links a {
    color: #acaaad;
    text-decoration: none;
    margin-bottom: 0.5rem;
    
} */