/* Gallery  */

/* Mobile and tablet */
/* MaxW */
@media (max-width: 900px){
    .main-div {
        display: grid;
    }
    nav li{
        display: none;
    }
    #show-menu {
        display: block;
    }
    footer {
        height: 50vh;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .footer__items {
        margin: 4%;
    }
    .gallery-section {
        height: 269vh;
    }
    .gallery  {
        column-count: 2;
    }
    .popup-img img {
        width: 80%;
        height: 50%;
    }
}


/* MinW */

@media (min-width: 900px){
    #show-menu {
        display: none;
    }
   
}
