/* Gallery  */

/* Mobile and tablet */
/* MaxW */
@media (max-width: 900px){
  /* Hero section */
    .mobile-container {
        position:absolute;
        text-align: center;
        
    }
    .mobile-container-img {
        background-color: var(--bg-dark-gray);

    }
    .mobile-container-img img{
        width: 50%;
        margin-left: 25%;
        
    }
    .main-div-2 {
        display: grid;
    }
    .service-container-1 {
        margin-top: 40% ;
        height: 60vh;
    }
    .btn {
        margin-left: 26%;
    }
    /* Container */
    .services p {
        font-size: 0.9rem;
    }
    .content, .content h1, .content h2{
        margin: 5%;
    }
    .content h1 {
        font-size: 1rem
    }
    .content h2 {
        font-size: 1.2rem;
    }
    .content p {
        padding-top: 2%;
        font-size: 0.9rem;
    }
    .service-container-2 {
        background-color: var(--bg-dark-gray);
        height: 25vh;
    }
    .service-img {
        display: block;
        width: 60%;
        position: relative;
        z-index: 2;
        margin: 70px;
        margin-left: 23%;
    }
    /* Navbar */
    nav li{
        display: none;
    }
    #show-menu {
        display: block;
    }
    /* Footer */
    footer {
        height: 50vh;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .footer__items {
        margin: 4%;
    }
    /* Galery */
    .gallery-section {
        height: 269vh;
    }
    .gallery  {
        column-count: 2;
    }
    .popup-img img {
        width: 80%;
        height: 50%;
    }
    /* Info */
    .info-section{
        height: 135vh;
    }
    .info-content p {
        padding-bottom: 20px;
    }
    .main-info-div{
        display: grid; 
    }
    .info-content form {
        margin: 0%;
    }
    /* Schedule */
    .hide {
        display: none;
    }
    /* Services */
    /* .schedule-div {
        position: absolute;
        background-color: rebeccapurple;
        width: 100%;
    } */
    .service-section {
        height: 255vh;
    }
    .main-service-div {
        display: grid;
    }
    .service-content h3 {
        font-size: 1rem;
    }
    .service-content p {
        font-size: 0.9rem;
    }
    .service-content li {
        font-size: 0.9rem;
        width: 100%;
    }
    .service-page-img img {
        width: 60%;
    }
}


/* MinW */

@media (min-width: 900px){
    #show-menu {
        display: none;
    }
    .mobile-container,  .mobile-container-img {
        display: none;
    }
   
}
