/* Gallery  */

/* Mobile and tablet */
/* MaxW */
@media (max-width: 900px){
    .popup-img img {
        width: 80%;
        height: 50%;
    }
}
@media (max-width: 900px){
    .gallery  {
        column-count: 2;
    }
}
@media (max-width: 900px){
    nav li{
        display: none;
    }
    #show-menu {
        display: block;
    }
   .footer__links{
    display: grid;
   }
    .gallery-section {
        height: 269vh;
    }

}

/* MinW */

@media (min-width: 900px){
    #show-menu {
        display: none;
    }
   
}
