
.main-info-div{
    display: flex;
    position: relative;
}
.info-content {
    display: block;
    padding: 3%;
}
.info-content p {
    margin: 3%;
}
.info-content h1 {
    margin: 3%;
}
.info-content form {
    margin: 3%;
}
.info-img {
    margin-top: 3%;
    justify-content: center;
    text-align: center;
}
.info-img img {
    width: 70%;
}
.schedule-div {
    position: absolute;
    background-color: red;
    width: 30%;
}
form {
    position: relative;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-dark-gray);
    /* max-width: 400px; */
    /* width: 100%; */
    overflow: hidden;
    border-radius: 0;
    border: 1px solid var(--font-black);
}
label {
    display: block;
    margin-bottom: 15px;
}

