:root {
    --bg-green: #1b6b37;
    --bg-off-white: #f5f5f3;
    --bg-dark-gray:#1e1e1e;
    --font-white:#ffffff;
    --font-black: #000;
}
/* -- SERVICES PAGE  -- */

.service-section {
    background-color: var(--bg-off-white);
    height: 100vh;
    color: var(--font-black);
}
.main-service-div {
    display: flex;
    justify-content: space-around;
    text-align: end;
    position: relative;
}
.service-content {
    text-align: left;
    margin: 5%;
    margin-left: 10%;
    justify-content: space-between;
}
.service-content h3 {
    font-size: 2rem;
    margin-bottom: 20%;
}
.service-content li {
    margin: 2%;
    list-style:disc;
}
.service-content p{
    margin: 3%;
}

.service-content button {
    margin: 0%;
}
.service-page-img {
    width: 50%;
}
.service-page-img img {
    width: 30%;
    margin: 5%;
    margin-right: 15%;
}