:root {
    --bg-green: #1b6b37;
    --bg-off-white: #f5f5f3;
    --bg-dark-gray:#1e1e1e;
    --font-white:#ffffff;
    --font-black: #000;
}
/* -- SERVICES PAGE  -- */

.service-section {
    background-color: var(--bg-dark-gray);
    height: 300vh;
    color: var(--font-white);
}
.main-service-div {
    display: flex;
    justify-content: space-around;
    text-align: end;
}
.service-content {
    text-align: left;
    margin: 5%;
    margin-left: 15%;
}
.service-content h3 {

}





.service-content button {
    margin: 0%;
}
.service-page-img img {
    width: 30%;
    margin: 5%;
    margin-right: 15%;
}